@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Rowdies:wght@300&family=Saira:wght@300;400&display=swap');

.background__profile {
    position: relative;
    left: 50%;
    width: 100%;
    border-radius: 2rem;
    background-image: var(--first-gradient);
    object-fit: cover;
    height: 24rem;
    transform: translateX(-50%);
}
.wrapperProfile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
}
.profile {
    /*position: relative;*/
    display: flex;
    /*grid-template-areas:*/
    /*"A A A B B B B B B B";*/
    flex-direction: row;
    align-items: end;
    /*justify-content: center;*/
    justify-items: center;
    /*left: 50%;*/
    transform: translateY(-5rem);
    /*width: 92%;*/
    gap: 2rem;
    /*padding-left: 4rem;*/
}

.avatar {
    z-index: 2;
    width: 14rem;
    border-radius: 10rem;
    border: var(--foreground-color) 0.4rem solid;
    grid-area: A;
}

.description {
    padding-bottom: 1.5rem;
}
.description h3 {
    font-family: "Saira", "Roboto", sans-serif;
    font-weight: 800;
    font-size: 2rem;
    color: var(--primary-text-color)
}

.editProfile {
    transform: translateY(-1rem)
}
.btnEditProfile {
    width: 12rem;
    height: 4rem;
    border-radius: 1.2rem;
    text-align: center;
    cursor: pointer;
    display: block;
    font: 14px/50px Tahoma;
    transition: all 0.18s ease-in-out;
    /*border: 1px solid #333;*/
    border: none;
    color: var(--primary-text-color);
    background-color: var(--background-color);
    font-family: Saira, sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
}

.btnEditProfile:hover {
    color: var(--background-color);
    background: var(--primary-text-color);
    cursor: pointer;
    transition: all 0.18s ease-in-out;

}
