.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
    max-width: 100%;
}

.formProfileData {
    display: grid;
    gap: 2rem;
    border-top: 1px solid var(--secondary-text-color);
    padding: 4rem 0;
    min-width: 20rem;

}

.formItem {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 4rem
}

.formItemTitle {
    justify-self: end;
}

.btnSave {
    width: 180px;
    height: 50px;
    border-radius: 1rem;
    text-align: center;
    cursor: pointer;
    /*display: block;*/
    font-family: Saira, sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    transition: all 0.18s ease-in-out;
    border: none;
    color: var(--background-color);
    background-color: var(--primary-text-color);
}

.btnSave:hover {
    color: var(--primary-text-color);
    background: var(--second-btn-color);
    cursor: pointer;
}