.preloaderImg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
}

.preloaderDiv {
    position: relative;
    width: 100%;
    height: 100%;
}