.header {
    height: 5rem;
    background-color: var(--foreground-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem ;
}

.logoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.logo__text {
    font-family: "Rowdies", sans-serif;
    font-size: 3rem;
    font-weight: 1000;
    background: var(--first-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logoContainer svg {
    width: 4rem;
    height: 4rem;
}

.logoContainer svg path{
    fill: var(--third-btn-color);
}
.logoContainer svg g path {
    stroke: var(--third-btn-color);
    fill: none
}

.loginNavLink {
    font-family: Saira, sans-serif;
    font-size: 2rem;
    text-decoration: none;
    font-weight: bold;
    color: var(--first-btn-color);
}

.loginNavLink:hover {
    color: var(--second-btn-color)
}

.authUserContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.headerName {
    font-size: 1.5rem;
    color: var(--third-color-text);
    font-weight: bold;
}

.avatar {
    border-radius: 2rem;
    width: 3.5rem;
}