.nav__item {
    margin-top: 1rem;
}

.nav__item:hover {
    cursor: pointer;
}

.nav__item:hover .span {
    color: var(--backlight-text-color);
}

.nav__itemLinkInactiveLink {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: var(--secondary-text-color);
}

.nav__itemLinkActiveLink {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: var(--backlight-text-color)
}



.nav__itemImage {
    width: 3rem;
    padding: 0.4rem;
    background-image: var(--first-gradient);
    border-radius: 2rem;
}

.span {
    padding-left: 2rem;
    text-align: left;
}

