.formControl.error {
    /*width: 20rem;*/
    /*height: 5rem;*/
    border: solid #e77e7e 2px;
    border-radius: 0.4rem;
    z-index: 5;
}


.textarea {
    border: none;
    height: 5rem;
    width: 19.8rem;
    border-radius: 0.4rem;
    background-color: var(--background-color);
    color: var(--primary-text-color)
}

.input {
    border: none;
    height: 2rem;
    width: 19.8rem;
    border-radius: 0.4rem;
    background-color: var(--background-color);
    color: var(--primary-text-color)
}

.validateForm {
    text-align: left;
    color: #e77e7e;
}