
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    min-height: 100vh;
    background-color: var(--background-color);
    transition: all ease 0.1s;
}
body.lock {
    overflow: hidden;
}
.appWrapper {
    display: grid;
    grid-template-columns: 2.5fr 9fr;
    gap: 2rem;
    grid-template-areas:
        "h h"
        "n c";
    width: 97vw;
    margin: 0 auto;
}

.appWrapper__header {
    grid-area: h;
}
.appWrapper__content {
    grid-area: c;
    background-color: var(--background-color);
    border-radius: 2rem;
    /*position: relative;*/
    color: var(--primary-text-color);
}

.appWrapper__nav {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: var(--secondary-text-color);
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    grid-area: n;
    /*background-color: #fff;*/
    background-color: var(--foreground-color);
    border-radius: 2rem;
    padding: 1rem;
    height: 23rem;
    transition: all ease 0.1s;
}

