@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Rowdies:wght@300&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    min-height: 100vh;
    background-color: var(--background-color);
}
.appWrapper {
    /*position: relative;*/
    display: grid;
    grid-template-columns: 2.5fr 9fr;
    gap: 1rem;
    grid-template-areas:
        "h h"
        "n c";
    width: 97vw;
    /*left: 50%;*/
    /*transform: translateX(-50%);*/
    margin: 0 auto;
}

.appWrapper__content {
    grid-area: c;
    background-color: var(--foreground-color);
    border-radius: 2rem;
    /*position: relative;*/
    color: var(--primary-text-color)
}

.appWrapper__nav {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: var(--secondary-text-color);
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    grid-area: n;
    /*background-color: #fff;*/
    background-color: var(--foreground-color);
    border-radius: 2rem;
    padding: 1rem;
    height: 23rem;
}

